@import "tailwindcss";

@theme {
  --ganesha-purple: rgb(35,14,95);
  --ganesha-bordeaux: rgb(149, 54, 51);
  --ganesha-gold: rgb(240,225,130);
  --ganesha-bg: rgb(207, 107, 89);
}

.hero-overlay {
  clip-path: polygon(100% 100%, 70% 100%, 50% 0%, 100% 0%);
  background-color: #953733cc;
}

button {
  background-color: #953733;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
}

button:hover {
  border: 1px solid white;
  background-color: #953733;
}

input:focus {
  outline: none;
  border: 2px solid #953733;
  box-shadow: 0 0 0 1px #953733;
}

.bg-ganesha {
  background-color: var(--ganesha-bg);
}

.bg-ganesha-overlay {
  background-color: var(--ganesha-bordeaux);
  opacity: 0.7;
}

.text-gold {
  color: var(--ganesha-gold);
}

.ProseMirror:focus {
	outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important; /* háttér fehér */
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: black !important; /* szöveg színe */
}