@import "tailwindcss";

@theme {
  --ganesha-purple: rgb(35,14,95);
  --ganesha-gold: rgb(240,225,130);
}

button {
  @apply bg-blue-500 text-white px-4 py-2 rounded;
}

button:hover {
  @apply bg-blue-600;
}

.bg-ganesha {
  background-color: var(--ganesha-purple);
}

.text-gold {
  color: var(--ganesha-gold);
}
